# Compose's Stack Name
COMPOSE_PROJECT_NAME="homestack_samba_v1"

# Root directory of stack, must not end with a "/"
STACK_ROOT="./run"

# Server Timezone, where applicable
SERVER_TZ="Europe/London"

# Linux User and Group to own the files
# Set 0 for all for "root" user
# Run `id $(whoami)` on bash / `id (whoami)` on fish
STACK_FS_PUID=1000
STACK_FS_PGID=1000

# Samba configuration
SMB_GROUP="home"
SMB_USER="someone"
SMB_PASS="!eE12345"
SMB_SHARE="files"